.container {
    margin-top: 30px;
    width: 700px;
    height: 100px;
    background-color: rgb(23, 162, 184);
    box-shadow: rgb(136, 138, 139) 4px 4px 4px 4px;
    margin-left: 200px;}
    .cont {
        width: 700px;
        height: 250px;
        background-color: white;
        box-shadow: rgb(136, 138, 139) 4px 4px 4px 4px;
    margin-left: 200px;}
    img {
        width:90px ;
        margin-left: 35px;
        margin-top: -46px;
    }
    h1 {
        margin-top: 7px;
        margin-left: 20px;
    }
    #i {
        width: 12px;
        margin-right: 20px;
        margin-left: 20px;
    }
    i,h2 {
        display: inline-block;
        margin-top: -20px;
        margin-left: -15px;
    }
    p {
        width: 270px;
        margin-top: -20px;
        margin-left: 20px;
        font-weight: bolder;}
        #y {
            width: 20px;
            margin-top: 16px;}