h1{background-color: black;
color: aqua;
text-align: left;
font-weight: bold;}
h2{background-color: blueviolet;
text-align: center;}
h3{background-color:lightblue;
text-align: right;
text-decoration: underline;}