.se{background-color: white;
    border: 1px solid green;
    height: 35px;
    width: 150px;
    border-radius: 45%;
color: green}
.ti{color: white;
    border:0px ;
    height: 25px;
    width: 25;
    border-radius: 50%;
    background-color: green;
}


.si{background-color:blue;
    color: white;
    box-shadow: 5px 2px 2px black;
}
